<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Fitness centers List</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for row in fitness_centers %}
            <tr>
                <td><a href="{{ url_for('get_fitness_center_info', fc_id=row.id) }}">{{ row.id }}</a>></td>
                <td>{{ row.id }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.address }}</td>
                <td>{{ row.phone }}</td>
                <td>{{ row.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>