<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Reservation Information</h1>
    <p><strong>User:</strong> {{ user_id }}</p>
    <p><strong>Order ID:</strong> {{ order_id }}</p>
    <p><strong>Fitness center ID:</strong> {{ order.service_name }}</p>
    <p><strong>Fitness center ID:</strong> {{ order.trainer_name }}</p>
    <p><strong>Date:</strong> {{ order.date }}</p>
    {% if is_logged %}
        <form action="/user/orders/{{ ord_id }}/delete" method="post" style="display:inline;">
            <button type="submit">Delete</button>
        </form>
    {% endif %}
        <a href="/user/orders"><button>Back to Orders</button></a>
    <a href="/"><button>Home</button></a>
</body>
</html>