<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Services List</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Duration</th>
            <th>Price</th>
            <th>Description</th>
            <th>Max attendees</th>
        </tr>
        {% for serv in services %}
        <tr>
            <td>{{ row.name }}</td>
            <td>{{ row.duration }}</td>
            <td>{{ row.price }}</td>
            <td>{{ row.description }}</td>
            <td>{{ row.max_attendees }}</td>
        </tr>
        {% endfor %}
    </table>
    <h2>Delete a Fitness Center Service</h2>
    <form action="/fitness_center/{{ fc_id }}/service/delete" method="post">
        <label for="service_id">Enter the ID of the Fitness Center Service to be deleted:</label>
        <input type="number" id="service_id" name="service_id" required>
        <input type="submit" value="Delete">
    </form>
</body>
</html>