<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Services List</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Duration</th>
                <th>Price</th>
                <th>Description</th>
                <th>Max attendees</th>
            </tr>
        </thead>
        <tbody>
            {% for row in services %}
                <tr>
                    <td>{{ row.name }}</td>
                    <td>{{ row.duration }}</td>
                    <td>{{ row.price }}</td>
                    <td>{{ row.description }}</td>
                    <td>{{ row.max_attendees }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
     <p><strong>Fitness center ID:</strong> {{ fc_id }}</p>
</body>
</html>