<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Services List</h1>
    <p><strong>Fitness center ID:</strong> {{ fc_id }}</p>
    <p><strong>Fitness center ID:</strong> {{ trainer_id }}</p>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Duration</th>
                <th>Price</th>
                <th>Description</th>
                <th>Max attendees</th>
            </tr>
        </thead>
        <tbody>
            {% for row in services %}
                <tr>
                    <td>{{ row.name }}</td>
                    <td>{{ row.duration }}</td>
                    <td>{{ row.price }}</td>
                    <td>{{ row.description }}</td>
                    <td>{{ row.max_attendees }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h2>Assign Service</h2>
    <form action="/fitness_center/{{ fc_id }}/trainers/{{ trainer_id }}/service" method="post">
        <label for="service_id">Enter the ID of the Service to be assigned to the trainer:</label>
        <input type="number" id="service_id" name="service_id" required>
        <label for="capacity">Capacity:</label>
        <input type="number" id="capacity" name="capacity" step="1" required><br>
        <input type="submit" value="Assign">
    </form>
</body>
</html>