<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Trainer Schedule</h1>
    <p><strong>Fitness center ID:</strong> {{ fc_id }}</p>
    <p><strong>Service ID:</strong> {{ trainer_id }}</p>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
        </thead>
        <tbody>
            {% for row in schedules %}
                <tr>
                    <td><a href="/fitness_center/{{ fc_id }}/trainers/{{ trainer_id }}/schedule/{{ row.id }}">{{ row.id }}</a></td>
                    <td>{{ row.date }}</td>
                    <td>{{ row.start_time }}</td>
                    <td>{{ row.end_time }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if is_admin %}
        <a href="/fitness_center/{{ fc_id }}/trainers{{ trainer_id }}/schedule/add"><button>Add</button></a>
    {% endif %}
    <a href="/fitness_center/{{ fc_id }}/trainers/{{ trainer_id }}"><button>Back</button></a>
    <a href="/"><button>Home</button></a>
</body>
</html>